@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto - Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}


.display-non {
  display: none;
}

.cursor-p {
  cursor: pointer;
}

body {
  height: 100%;
  width: 100%;
  font-family: $font;
  text-transform: uppercase;
}

/** BACKGROUND OPEN DIALOG */
.darked {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}