@import "variabeles"; // premenné (farby atd)
@import "generals";   // generals
@import "typography"; // Font setting and h2,h3,h4 ...
@import "card";       // Card (fotky v kategórii a v galérii)
@import "dialog";     // My dialog
@import "drag&drop";  // Drag&Drop
@import "gallery";    // My Gallery

.headerimage {
  height: 338px;
  filter: brightness($brightness);
  img {
    width: 100%;
    height: 100%;
    filter: blur($blur);
    object-fit: cover;
  }
}


/** POSITION CONTAINER FOR CARD **/
.mycontainer {
  top: 10%;
  width: 100%;
}

hr {
  height: 2px;
  background-color: $ee;
  opacity: 0.2;
}

.myfoot {
  color: $aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 30.98px;
  letter-spacing: 0.7px;
  text-transform: none;
}


@media only screen and (max-width: 1200px) {
  .card {
    width: 13.5rem;
    height: 11rem;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    width: auto;
    height: auto;
  }

  .card-deck .card {
    margin-left: 0;
  }

  .dropzone {
    width: auto;
    min-width: auto;

    .exit {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1240px) {
  #dialog {
    width: 70%;
  }
}

@media only screen and (max-width: 620px) {
  #dialog {
    width: 90%;

    input {
      width: 65%;
    }
  }
}