@import "variabeles"; // premenné (farby atd)
@import "generals";   // generals
@import "typography"; // Font h2,h3,h4
@import "card";       // Card
@import "dialog";     // My dialog
@import "drag&drop";  // Drag&Drop
@import "gallery";    // My Gallery

.addkategory {
  height: 16px;
  color: $aa;
  font-size: 16px;
  font-weight: 700;
  line-height: 30.98px;
}

.headerimage {
  height: 338px;
  filter: brightness($brightness);

  img {
    width: 100%;
    height: 100%;
    filter: blur($blur);
    object-fit: cover;
  }
}

.myfoot {
  color: $aa;
  font-size: 14px;
  font-weight: 500;
  line-height: 30.98px;
  letter-spacing: 0.7px;
  text-transform: none;
}

hr {
  height: 2px;
  background-color: $ee;
  opacity: 0.2;
}

.mycontainer {
  top: 10%;
  width: 100%;
}

.mt-my {
  margin-top: 4rem !important;
}

/** BACKGROUND OPEN DIALOG */
.darked {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 1200px) {
  .card {
    width: 13.5rem;
    height: 11rem;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    width: auto;
    height: auto;
  }

  .card-deck .card {
    margin-left: 0;
  }

  .dropzone {
    width: auto;
    min-width: auto;

    .exit {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1240px) {
  #dialog {
    width: 70%;
  }
}

@media only screen and (max-width: 620px) {
  #dialog {
    width: 90%;

    input {
      width: 65%;
    }
  }
}