/** SETTING: COLOR ,BACKGROUND .FONT ,BRIGHTNESS ,BLUR  */
/** BRIGHTNESS AND BLUR FOR HEADER BACKGROUND IMG */
body {
  font-family: Roboto, serif;
  text-transform: uppercase; }

h2, h3, .addkategory {
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: normal; }

h2, h3 {
  color: #ffffff;
  font-weight: 500; }

.addkategory {
  height: 16px;
  color: #aaaaaa;
  font-size: 16px;
  font-weight: 700;
  line-height: 30.98px; }

h2 {
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 700; }

h3 {
  font-weight: 550;
  font-size: 16px;
  letter-spacing: 0.8px; }

.headerimage {
  height: 338px;
  filter: brightness(70%); }
  .headerimage img {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    object-fit: cover; }

.myfoot {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 30.98px;
  text-align: left;
  letter-spacing: 0.7px;
  text-transform: none; }

hr {
  height: 2px;
  background-color: #eeeeee;
  opacity: 0.2; }

.card-deck .card {
  margin-left: 20px; }

.card {
  cursor: pointer;
  width: 15.5rem;
  height: 13rem;
  background-color: #ffffff;
  color: #555555; }
  .card .card-text {
    text-transform: none;
    display: none; }
  .card .card-img-top {
    height: 70%; }
  .card .card-body.myborder {
    border: 1.6px solid #dee2e6 !important; }
  .card .card-text, .card .card-title {
    font-size: 16px;
    font-style: normal; }
  .card .card-title {
    font-weight: 600; }

.card:hover {
  box-shadow: 0 0 2px #333333;
  bottom: 10px;
  position: relative; }
  .card:hover .card-text {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
    display: block; }
  .card:hover .card-img-top {
    opacity: 0.9;
    transform: scale(1.01);
    height: 60%; }

.mycontainer {
  top: 10%;
  width: 100%; }

.mt-my {
  margin-top: 4rem !important; }

@media only screen and (max-width: 1200px) {
  .card {
    width: 13.5rem;
    height: 11rem; } }

@media only screen and (max-width: 576px) {
  .card {
    width: auto;
    height: auto; } }
